In [21]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}

browser = Browser('chrome', **executable_path, headless = False)

In [3]:
url = 'https://redplanetscience.com/'

browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

In [5]:
html = browser.html

news_soup = soup(html, 'html.parser')

slide_elem = news_soup.select_one('div.list_text')

In [8]:
slide_elem.find('div, class_=content_title')
slide_elem

<div class="list_text">
<div class="list_date">October 20, 2022</div>
<div class="content_title">NASA's Curiosity Rover Finds an Ancient Oasis on Mars</div>
<div class="article_teaser_body">New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate.</div>
</div>

In [10]:
# Use the parent element to find the first `a` tag and save it as `news_title`

news_title = slide_elem.find('div', class_='content_title').get_text()

news_title

"NASA's Curiosity Rover Finds an Ancient Oasis on Mars"

In [13]:
news_summary = slide_elem.find('div', class_='article_teaser_body').get_text()

news_summary

"New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate."

### Featured Images

In [14]:
# visit url

url = 'https://spaceimages-mars.com/'

browser.visit(url)

In [16]:
# Find and click the full image button

full_image_elem = browser.find_by_tag('button')[1]

full_image_elem.click()

In [17]:
# Parse the resulting html with soup

html = browser.html

img_soup = soup(html, 'html.parser')

In [18]:
# Find the relative image url

img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')

img_url_rel

'image/featured/mars3.jpg'

In [19]:
# Use the base URL to create an absolute URL

img_url = f'https:spaceimages-mars.com/{img_url_rel}'
img_url

'https:spaceimages-mars.com/image/featured/mars3.jpg'

In [20]:
#visit url

url = 'https://galaxyfacts-mars.com/'

browser.visit(url)

In [22]:
df = pd.read_html('https://galaxyfacts-mars.com/')[0]

df.columns = ['description', 'Mars', 'Earth']

df.set_index('description', inplace=True)

df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [23]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [25]:
browser.quit()